body {
    background: url(../images/background3.jpg);
    background-size: 100%;
    background-size: no-repeat;
  }
  
* {
    box-sizing: border-box;
  }

#title {
    font-family: 'Major Mono Display', monospace;
    font-weight: bold;
    font-size: 44px;
    border: 2px solid black;
    height: 150px;
    width: 580px;
    text-align: center;
    transform: rotate(350deg);
    transform-origin: 110% 0%;
    
}

#timer {
    font-family: 'Major Mono Display', monospace;
    font-weight: bold;
}

.btn {
    align-content: center;
    margin: 10px;
    font-family: 'Major Mono Display', monospace;
}


#question-container {
    align-content: center;
    height: 300px;
    width: 500px;
    border: 2px solid black;
    margin-top: 15px;
    margin-bottom: 25px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#answer-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Major Mono Display', monospace;
    font-weight: bold;
    text
}

h3, label {
    font-family: 'Major Mono Display', monospace;
}

.form-check {
    /* margin-left: 500px; */
    align-content: center;
    text-align: center;
}

input[type=radio]{
    transform:scale(1.5);
    border: 1px solid black;
  }
